<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/serviceproviderlayout :: serviceproviderlayout (~{::body},'confirmationpage')}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Booking Confirmation</title>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        .content {
            margin-top: 20px;
            padding: 20px;
            background-color: #fff; /* Light background */
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="content">
        <h2 class="mb-4">Confirm Booking</h2>
        <form th:action="@{/serviceprovider/confirm}" method="post">
            <input type="hidden" name="bid" th:value="${booking.bid}"/>
            <div class="mb-3">
                <label for="serviceName" class="form-label">Service Name</label>
                <input type="text" class="form-control" id="service_name" th:value="${booking.serviceProvider.service_name}" readonly/>
            </div>
            <div class="mb-3">
                <label for="bookingdesc" class="form-label">Service Desc</label>
                <input type="text" class="form-control" id="bookingdesc" th:value="${booking.bookingdesc}" readonly/>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" id="price" name="bookingprice" required/>
            </div>
            <button type="submit" class="btn btn-success">Confirm</button>
        </form>
        <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
            <span th:text="${errorMessage}"></span>
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js}" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
