<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/customerlayout :: customerlayout (~{::body},'listbooking')}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Booking Status</title>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        .content {
            margin-top: 20px;
            padding: 20px;
            background-color: #fff; /* Light background */
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="content">
        <h2 class="mb-4">My Bookings</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Booking ID</th>
                    <th scope="col">Service Provider Name</th>
                    <th scope="col">Service Provider Address</th>
                    <th scope="col">Service Provider Phone Number</th>
                    <th scope="col">Service Name</th>
                    <th scope="col">Date of Service</th>
                    <th scope="col">Detail of Work</th>
                    <th scope="col">Booking Status</th>
                    <!-- <th scope="col">Booking Price</th> -->
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="booking : ${bookingList}">
                    <td th:text="${booking.bid}"></td>
                    <td th:text="${booking.serviceProvider.spfullname}"></td>
                    <td th:text="${booking.serviceProvider.address}"></td>
                    <td th:text="${booking.serviceProvider.phonenumber}"></td>
                    <td th:text="${booking.serviceProvider.service_name}"></td>
                    <td th:text="${booking.bookingdate}"></td>
                    <td th:text="${booking.bookingdesc}"></td>
                    <td th:text="${booking.bookingstatus}"></td>
                    <!-- <td th:text="${booking.bookingprice}"></td> -->
                    <td>
                        
                        <a th:href="@{/bookingdetails(bookingid=${booking.bid} )}" class="btn btn-success">View Details</a>
                    </td> 
                </tr>
            </tbody>
        </table>
        <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
            <span th:text="${errorMessage}"></span>
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js}" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
